<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content process">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <footer class='site-footer more-projects'>
    <div class="wrapper">
        <h1>some things i like</h1>
            <article class="project">
                <img src="{{ '/images/soccer.jpg'| prepend: site.baseurl }}">
                <div class="project-header">
                    <h1><span class="red">soccer</span> especially arsenal</h1>
                </div>
            </article>

             <article class="project">
                <img src="{{ '/images/pizza.jpg'| prepend: site.baseurl }}">
                <div class="project-header">
                    <h1><span class="red">cooking</span> delicious morsels</h1>
                </div>
            </article>

             <article class="project">
                <img src="{{ '/images/paulsimon.jpg'| prepend: site.baseurl }}">
                <div class="project-header">
                    <h1><span class="red">music</span></span> in all its shapes</h1>
                </div>
            </article>

             <article class="project">
                <img src="{{ '/images/frank1.jpg'| prepend: site.baseurl }}">
                <div class="project-header">
                    <h1><span class="red">frank</span> lloyd wright's buildings</h1>
                </div>
            </article>

             <article class="project">
                <img src="{{ '/images/pghrun.jpg'| prepend: site.baseurl }}">
                <div class="project-header">
                    <h1><span class="red">running</span> to explore places</h1>
                </div>
            </article>

    </div>
    </footer>
    {% include footer.html %}

  </body>

</html>
