<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content process">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <footer class='site-footer more-projects'>
    <div class="wrapper">
        <h1>some things i like</h1>
            <article class="project">
                <img src="{{ '/images/shinola240color.jpg'| prepend: site.baseurl }}">
                <div class="project-header">
                    <h1><span class="red">soccer</span> especially arsenal</h1>
                </div>
            </article>

             <article class="project">
                <img src="{{ '/images/shinola240color.jpg'| prepend: site.baseurl }}">
                <div class="project-header">
                    <h1><span class="red">soccer</span> especially arsenal</h1>
                </div>
            </article>

             <article class="project">
                <img src="{{ '/images/shinola240color.jpg'| prepend: site.baseurl }}">
                <div class="project-header">
                    <h1><span class="red">soccer</span> especially arsenal</h1>
                </div>
            </article>

             <article class="project">
                <img src="{{ '/images/shinola240color.jpg'| prepend: site.baseurl }}">
                <div class="project-header">
                    <h1><span class="red">soccer</span> especially arsenal</h1>
                </div>
            </article>

             <article class="project">
                <img src="{{ '/images/shinola240color.jpg'| prepend: site.baseurl }}">
                <div class="project-header">
                    <h1><span class="red">soccer</span> especially arsenal</h1>
                </div>
            </article>

    </div>
    </footer>
    {% include footer.html %}

  </body>

</html>
